@using GeocachingApp.ViewModels
@model UserDetailViewModel

<div class="container">
    <h3 class="my-4">@Model.UserName</h3>
    
        <div class="col-md-4">
            <h3 class="my-3"></h3>
            <p>Caches found: @Model.CachesFound</p>
            <p>Caches created: @Model.CachesCreated</p>            
            <p>City: @Model.City</p>            
            <p>Country: @Model.Country</p>            
        </div>
    </div>


