@using GeocachingApp.ViewModels
@model UserDetailViewModel

<div class="container">
    <h3 class="my-4">@Model.UserName</h3>
    
        <div class="col-md-4">
            <ul>
                <li>Caches found: @Model.CachesFound</li>
                <li>Caches created: @Model.CachesCreated</li>            
                <li>City: @Model.City</li>            
                <li>Country: @Model.Country</li>            
            </ul>
        </div>
    </div>


