@model Club
@{
    ViewData["Title"] = Model.Title;
}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <img class="img-fluid" class="shadow" src="@Model.Image" alt="">
        </div>

        <div class="col-md-4">
            <ul class="list-group">
                <li class="list-group-item bg-success text-white">Club</li>
                <li class="list-group-item">Name: @Model.Title</li>
                <li class="list-group-item">Description: @Model.Description</li>
            </ul>

            <ul class="list-group">
                <li class="list-group-item bg-success text-white">Location</li>
                <li class="list-group-item">Street: @Model.Address.Street</li>
                <li class="list-group-item">City: @Model.Address.City</li>
                <li class="list-group-item">Country: @Model.Address.Country</li>
            </ul>

        </div>
    </div>
</div>